################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BinaryTree/obj
/LinkedList/obj
/Recursion/obj
